@media only screen and (max-width: 600px){
.post-item{
    background-color: pink;
    width: 60%;
    height: 230px;
    left: 20%;
    position: relative; 
}

.image{
    width: 100px;
    height: 50px;   
}
}
