@media only screen and (max-width: 600px){
    .App-header {
      background-image: url('../assets/images/bananas.jpg'),url('../assets/images/tomatoes.jpg'),url('../assets/images/avo.jpg');
      background-position:left top ,center top,right top;
      background-repeat: no-repeat,no-repeat,no-repeat;
      background-size: 100px 100px,150px 100px, 150px 100px;
      height: 100px;
      padding: 20px;
      color: white;
    }
    
    .App-title {
      font-size: 2em;
      color: green;
      font-family: Arial, Helvetica, sans-serif;
      position: relative;
      left: 5%;  
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    }